<%- include("../layouts/adminheader"); -%>
    <div class="container main-title">
        <h2 class="page-title">Categories</h2>
        <a href="/admin/categories/add-category" class="btn btn-info mt-2">Add a new category</a>
    </div>
    <br><br>
    <div class="container table-style">

        <table class="table table-striped">

            <thead>
                <tr class="th-style">
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<category.length;i++) { %>
                    <tr class="td-style">

                        <td>
                            <%= category[i].title %>
                        </td>
                        <td><a class="btn btn-danger"
                                href="/admin/categories/edit-category/<%= category[i]._id %>">Edit</a></td>


                        <td>

                            <a class="btn btn-danger"
                                href="/admin/categories/delete-category/<%=category[i]._id%>">Delete</a>
                        </td>
                    </tr>
                    <%}%>

            </tbody>
        </table>
    </div>
    <%- include("../layouts/adminfooter"); -%>