<%- include("../layouts/adminheader");-%>
    <div class="container main-title">
        <h1 class="page-title">Pages</h1>
        <a href="/admin/pages/add-page" class="btn btn-info mt-2">Add a new page</a>
    </div>
    <br><br>
    <div class="container table-style">
        <table class="table table-striped">
            <thead>
                <tr class="th-style">
                    <th>Title</th>
                    <th>Edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<pages.length;i++){%>
                    <tr class="td-style">
                        <td>
                            <%=pages[i].title %>
                        </td>
                        <td><a href="/admin/pages/edit-page/<%=pages[i]._id%>">Edit</a></td>
                        <td><a href="/admin/pages/delete-page/<%=pages[i]._id%>">Delete</a></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>


    <%- include("../layouts/adminfooter");-%>